.home{
    min-height: calc(100vh - 100px);
    &__btns{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    &__btn{
        padding: 12px 40px;
        min-width: 300px;
        font-size: 2rem;
        align-self: end;

        &:first-child{
            margin-bottom: 20px;
        }
    }
}

.modal-bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    
}

.modal-inner{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-btn{
    padding: 10px 40px;
}

.books-list{
    overflow-y: auto;
    margin-top: 40px;
    max-height: calc(100vh - 180px);
    padding-right: 20px;

    &::-webkit-scrollbar {
        width: 10px;               /* width of the entire scrollbar */
    }
    
    &::-webkit-scrollbar-track {
        background: #471C16;   
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        background-clip: padding-box;     /* color of the tracking area */
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #471C16;  
        width: 20px;
        border: 1px solid transparent;
        background-clip: padding-box; 
    }
}