.container{
    max-width: 1680px;
    margin: auto;

    &--2{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
}

.home-link{
    position: absolute;
    left: 60px;
    top: 40px;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.fullpage{
    background: url(../../img/bg.jpg) no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    border: 0;

    &--brown{
        background-color: #471C16;
    }

    &--beige{
        background-color: #C1A672;
    }
}

.books-list{
    overflow-y: scroll;
}